#NEXTbutton {
    display: none;
    height: 50px;
}

#gameDiv {
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-Color: black;
    border-width: 12px;
    
}

#DEALbutton {
    height: 50px;
}

#gameDisplay {
    display: flex;
    justify-content: space-evenly;
}

#scoreBoard {
    display: flex;
    justify-content: space-evenly;
}

#playerScore {
    min-width: 200px;
    text-align: center;
    padding: 25px;
}

#computerScore {
    min-width: 200px;
    text-align: center;
    padding: 25px;
}

#playersDisplay {
    display: flex;
    justify-content: space-evenly;
}

#playerDisplay {
    min-width: 200px;
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#computerDisplay {
    min-width: 200px;
    text-align: center;
    padding: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#playerCard {
    padding: 10px;
}

#computerCard {
    padding: 10px;
}